html {
    background-color: #D5E1EF;
    display: flex;
    justify-content: center;
}
div {
    margin: 50px 10px 10px 10px;
    height: 600px;
    width: 395px;
    color: black;
    font-family: 'Cabin', sans-serif;
    background-color: #FFFFFF;
    border-radius: 19px;
    box-shadow: -14px 16px 52px 8px rgb(0 0 0/0.13);
    text-align: center;
}
h1 {
    font-size: 24px;
}
p {
    font-size: 18px;
    margin-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
}
img {
    margin: 30px 30px 20px 30px; 
    width: 335px;
    height: 344px;
    border-radius: 19px; 
}