* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100%;
    background-image: url(images/oceanbackground.png);
    background-size: cover;
    font-family: roboto;
    width: 100%;
}
.container{
    display: flex;
    flex-direction: row;
    padding: 20px 0 0 20px;
    margin: auto;
}
#menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    flex-wrap: wrap;
    margin-top: 100px;
}
nav{
    margin-top: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
@media (min-width:768px){
    a{
        color: white;
        text-decoration: none;
    }
}
  

#linklist {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    list-style-type: none;
    width: 50%;
}  
a {
    color: white;
    text-decoration: none;
}
a:hover{
    color: skyblue;
    transition: .3s
}
@media screen and (max-width: 800px) {
    #linklist{
        visibility: hidden;
        position: absolute;
        right: 0;
    }
}
.topnav {
    overflow: hidden;
    margin-right: 1em;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add an active class to highlight the current page */
  .topnav a.active {
    background-color: #9fe8ff;
    color: white;
  }
  
  /* Hide the link that should open and close the topnav on small screens */
  .topnav .icon {
    display: none;
  }
  /* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 613px) {
    .topnav a {
        display: none;
    }
    .topnav a.icon {
      float: right;
      display: block;
    }
    nav{
        margin-top: 1em;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
  }

   
 /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 613px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
    }
    .navcontainer>img{
        width: 50%;
        position: absolute;
        top: 0;
        left: 0;
    }
  }






  article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

/* code for styles at default width */
.slideone{
    background-color: white;
    color: black;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 40% 60%;
    padding-left: 20px;
}
.previewbc {
    color: black;
    background-color: #FEAC5E;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    width: 50%;
    height: 10%;
}
.iconbc {
    background-color: white;
    color: black;
    border: 1px solid #FEAC5E;
    border-radius: 12px;
    width: 50%;
    height: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.testPrototype {
    color: black;
    background-color: #C779D0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    width: 50%;
    height: 10%;
}
.bcone{
    grid-column: 1/2;
    grid-row: 1/2;
}
#bcicon{
    width: 30%;
}
.bcone>p{
    padding-left: 10px;
}
.bctwo{
    grid-column: 2/3;
    grid-row: 1/2;
    padding-left: 30%;
    width: 100%;
}
.bctwo>img{
    width: 100%;
}

.bcthree{
    grid-column: 1/2;
    grid-row: 2/3;
    padding: 10px 10px;
    margin: auto;
}
.bcfour{
    grid-column: 2/3;
    grid-row: 2/3;
    margin: auto;
}
article>.slidetwo{
    background-color: #EBEBEB;
    color: black;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 25% 25% 25% 25%;
    padding-left: 20px;
}
.resOne{
    color: black;
    grid-column: 1/2;
    grid-row: 1/2;
    margin-top: 20px;
}
.resOne>p{
    width: 80%;
}
.resTwo{
    color: black;
    grid-column: 1/2;
    grid-row: 2/3;
    margin-top: 20px;
}
.resTwo>h2{
    color: black;
}
.resTwo>p{
    width: 80%;
}
.resThree{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    grid-column: 1/2;
    grid-row: 3/4;
    text-align: center;
}
.resThree>.Litsy{
    text-align: center;
}
.resThree>.LibraryThing{
    text-align: center;
}
.resThree>.goodreads{
    text-align: center;
}
.resFour{
    grid-column: 1/2;
    grid-row: 4/5;
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.slideThree{
    background-color: #EBEBEB;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    padding-left: 20px;
    height: 400px;
    width: 100%;
}
.userOne{
    grid-column: 1/2;
    grid-row: 1/2;
}
.userTwo{
    grid-column: 1/2;
    grid-row: 2/3;
    text-align: center;
}
.userTwo>img{
    width: 30%;
}
.userThird{
    grid-column: 1/2;
    grid-row: 3/4;
    text-align: center;
}
.slideFour{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 15% 80%;
    padding-left: 20px;
    background-color:#EBEBEB;
    height: 550px;
    width: 100%;
}
.intOne{
    grid-column: 1/2;
    grid-row: 1/2;
}
.intTwo{
    grid-column: 1/2;
    grid-row: 2/3;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 120px;
}
.intTwo>img{
    width: 30%;
}
.slideFive {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50% 35% 15%;
    padding-left: 20px;
    background-color:#EBEBEB;
    height: 700px;
    width: 100%;
}
.fiveOne{
    grid-column: 1/2;
    grid-row: 1/2;
    text-align: center;
}
.fiveOne>img{
    width: 30%;
}
.fiveTwo{
    grid-column: 1/2;
    grid-row: 2/3;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.statimgOne{
    width: 200px;
}
.statimgTwo{
    width: 200px;
}
.statimgThree{
    width: 200px;
}

.fiveThree{
    grid-column: 1/2;
    grid-row: 3/4;
    text-align: center;
}
.slideSix{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 15% 40% 45%;
    background-color:#EBEBEB;
    height: 1000px;
}
.sixOne{
    grid-column: 1/2;
    grid-row: 1/2;
    margin-left: 20px;
    width: 70%;
}
.sixTwo{
    grid-column: 1/2;
    grid-row: 2/3;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.amandaOne{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 500px;
}
.amandaTwo{
    width: 40%;
}
.amandasGoals{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 50%;
}
.goalOne{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: space-between;
    justify-content: center;
}
.goalTwo{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: space-between;
    justify-content: center;
}
.sixThree{
    grid-column: 1/2;
    grid-row: 3/4;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items:flex-start;
    margin-right: 180px;
}
.brands{
    text-align: center;
}
.slideSeven{
    background-color:white;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10% 30% 60%;
    height: 600px;
}
.sevenOne{
    margin-left: 20px;
    margin-top: 20px;
}
.sevenTwo{
    margin-left: 20px;
    width: 70%;
}
.sevenThree{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}
.sevenThree>img{
    width: 30%;
}
.slideEight{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.eightOne{
    width: 80%;
    padding-left: 20px;
    padding-top: 30px;
}
.slideEight>.sitemap{
    margin-top: 40px;
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.sitemap>img{
    width: 30%;
}
.slideEight>.userflow{
   margin-left: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}
.userflow>img{
    width: 30%;
}
.slideNine{
    background-color: white;
    padding-top: 100px;
}
.nineOne{
    display: flex;
    flex-direction: row;
    justify-content: center;
}  
.nineOne>img{
    margin-top: 50px;
    width: 30%;
    text-align: center;
}
.slideTen{
    background-color: white;
    padding-top: 100px;
}
.tenOne{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.tenOne>img{
    width: 30%;
}
.tenOne>h2{
    text-align: center;
}
.slideEleven{
    background-color: white;
    padding-top: 100px;
}
.elevenOne{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.elevenOne>img{
    width: 30%;
}
.slideTwelve{
    background-color: white;
}
.twelveOne{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.twelveOne>a{
    color: white;
    background-color: #FEAC5E;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 4px 10px -5px rgb(0 0 0 / 69%);
    padding: 10px 16px;
    border-radius: 10px;
}
.twelveOne>a:hover{
    color: white;
    background-color: #FEAC5E;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 4px 10px -5px rgb(0 0 0 / 69%);
    padding: 10px 16px;
    border-radius: 10px;
}
.slideThirteen{
    background-color: white;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 5px;
    padding: 0 0 0 0;
    justify-content: center;
    width: 100%;
    margin-top: 10px;
}
#green{
    border-radius: 5px;
    width: 300px;
    background-color: #e9f7ee;
}
#yellow{
    border-radius: 5px;
    width: 300px;
    background-color: #f7f5e9;
}
#red{
    border-radius: 5px;
    width: 300px;
    background-color: #f7e9e9;
}
.titleThirteen{
    grid-column: 1/2;
    grid-row: 1/2;
}
.titleThirteen>a{
    color: black;
    text-decoration: underline;
}
.titleThirteen>a:hover{
    color: orange;
    text-decoration: underline;
}
.thirteenOne{
    grid-column: 1/2;
    grid-row: 2/3;
    padding: 0 208px 0 15px;
    text-align: center;
    margin-top: 30px;
}

.thirteenOneOne{
    grid-column: 1/2;
    grid-row: 3/4;
}
.thirteenOneTwo{
    grid-column: 1/2;
    grid-row: 4/5;
}
.thirteenOneThree{
    grid-column: 1/2;
    grid-row: 5/6;
}
.thirteenTwo{
    grid-column: 2/3;
    grid-row: 2/3;
    padding: 0 208px 0 15px;
    text-align: center;
    margin-top: 30px;
}
.thirteenTwoOne{
    grid-column: 2/3;
    grid-row: 3/4;
}
.thirteenTwoTwo{
    grid-column: 2/3;
    grid-row: 4/5;
}
.thirteenTwoThree{
    grid-column: 2/3;
    grid-row: 5/6;
}

.thirteenThree{
    grid-column: 3/4;
    grid-row: 2/3;
    padding: 0 208px 0 15px;
    text-align: center;
    margin-top: 30px;
}
.thirteenThreeOne{
    grid-column: 3/4;
    grid-row: 3/4;
}
.thirteenThreeTwo{
    grid-column: 3/4;
    grid-row: 4/5;
}
.thirteenThreeThree{
    grid-column: 3/4;
    grid-row: 5/6;
}
.slidefourteen{
    background-color: white;
    margin-left: 20px;
}
.fourteenOneOne{
    margin-left: 20px;
    width: 70%;
}
.fourteenOneOne>img{
    width: 25%;
    height: 25%;
}
.slideFifteen{
    background-color: white;
}
.fifteenOne{
    background-color:rgba(199, 121, 208, 34%);
    padding: 100px 100px;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
}
@media(max-width: 968px) and (min-width: 700px){
    article>.slideone{
        background-color: white;
        color: black;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0% 30% 35% 35%;
        padding-left: 20px;
    }
    .bcone{
        grid-column: 1/2;
        grid-row: 2/3;
        text-align: center;
    }
    .bctwo>img{
        width: 20%;
        padding-left: 200px;
    }
    #bcicon{
        width: 50%;
    }
    .bctwo{
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .bcthree{
        width: 100%;
        grid-column: 1/2;
        grid-row: 3/4;
        margin-bottom: 100px;
    }
    .bcfour{
        grid-column: 1/2;
        grid-row: 4/5;
        width: 100%;
        margin-top: 50px;
    }
    .previewbc{
        color: black;
        background-color: #FEAC5E;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 12px;
        width: 20%;
        height: 20%;
    }
    .previewbc:hover{
        color: white;
        background-color: #FEAC5E;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 12px;
        width: 20%;
        height: 20%;
        transition: .3s;
        transform: scale(1.2,1.2);
    }
    .previewbc>h1{
        font-size: 1rem;
        text-align: center;
    }
    .iconbc{
        background-color: white;
        color: black;
        border: 1px solid #FEAC5E;
        border-radius: 12px;
        width: 20%;
        height: 20%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .iconbc:hover{
        background-color: white;
        color: black;
        border: 1px solid #C779D0;
        border-radius: 12px;
        width: 20%;
        height: 20%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: .3s;
        transform: scale(1.2,1.2);
    }
    article>.slidetwo{
        background-color: #EBEBEB;
        color: black;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        padding-left: 20px;
        padding-bottom: 30px;
    }
    .resOne{
        color: black;
        grid-column: 1/2;
        grid-row: 1/2;
        margin-top: 20px;
    }
    .resOne>p{
        width: 80%;
    }
    .resTwo{
        color: black;
        grid-column: 1/2;
        grid-row: 2/3;
        margin-top: 20px;
    }
    .resTwo>h2{
        color: black;
    }
    .resTwo>p{
        width: 80%;
    }
    .resThree{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

    }
    .resThree>.Litsy{
        text-align: center;
    }
    .testPrototype{
    color: black;
    background-color: #C779D0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    width: 20%;
    height: 10%;
    }
.testPrototype:hover{
    color: black;
    background-color: white;
    border: 1px solid #FEAC5E;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    width: 20%;
    height: 10%;
    transition: .3s;
    transform: scale(1.2,1.2);
    }
    .resThree>.LibraryThing{
        text-align: center;
    }
    .resThree>.goodreads{
        text-align: center;
    }
    .slideThree{
        background-color:#EBEBEB;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 50% 25% 25%;
        padding-left: 20px;
        height: 400px;
        width: 100vw;
    }
    .userOne{
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .userTwo{
        grid-column: 1/2;
        grid-row: 2/3;
        text-align: center;
    }
    .userTwo>img{
        width: 60%;
    }
    .userThird{
        grid-column: 1/2;
        grid-row: 3/4;
        text-align: center;
    }
    .slideFour{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 15% 80%;
        padding-left: 20px;
        background-color:#EBEBEB;
        height: 550px;
        width: 100vw;
    }
    .intOne{
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .intTwo{
        grid-column: 1/2;
        grid-row: 2/3;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-left: 120px;
    }
    .intTwo>img{
        width: 100%;
    }
    .slideFive {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 50% 35% 15%;
        padding-left: 20px;
        background-color:#EBEBEB;
        height: 700px;
        width: 100vw;
    }
    .fiveOne{
        grid-column: 1/2;
        grid-row: 1/2;
        text-align: center;
    }
    .fiveOne>img{
        width: 90%;
    }
    .fiveTwo{
        grid-column: 1/2;
        grid-row: 2/3;
        text-align: center;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }
    .statimgOne{
        width: 200px;
    }
    .statimgTwo{
        width: 200px;
    }
    .statimgThree{
        width: 200px;
    }
    
    .fiveThree{
        grid-column: 1/2;
        grid-row: 3/4;
        text-align: center;
    }
    .slideSix{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 15% 40% 45%;
        background-color: #EBEBEB;
        height: 1347px;
    }
    .sixOne{
        grid-column: 1/2;
        grid-row: 1/2;
        margin-left: 20px;
        width: 70%;
    }
    .sixTwo{
        grid-column: 1/2;
        grid-row: 2/3;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        padding: 50px 105px 50px 105px;
        flex-wrap: wrap;    
    }
    .amandaOne{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 500px;
        flex-grow: 1;
    }
    .amandaTwo{
        width: 40%;
        flex-grow: 2;
    }
    .amandaTwo>h4{
        padding-top: 20px;
    }
    .amandasGoals{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: flex-start;
        width: 1000%;
        padding: 10px 0 0 94px;
    }
    .goalOne{
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: space-between;
        justify-content: center;
        flex-wrap: wrap;
    }
    .goalTwo{
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: space-between;
        justify-content: center;
    }
    .sixThree{
        grid-column: 1/2;
        grid-row: 3/4;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items:flex-start;
        margin-right: 180px;
    }
    .brands{
        text-align: center;
    }
    .slideSeven{
        background-color:white;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 10% 30% 60%;
        height: 600px;
    }
    .sevenOne{
        margin-left: 20px;
    }
    .sevenTwo{
        margin-left: 20px;
        width: 70%;
    }
    .sevenThree{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
    }
    .sevenThree>img{
        width: 70%;
    }
    .slideEight{
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }
    .eightOne{
        width: 80%;
        padding-left: 20px;
        padding-top: 70px;
    }
    .slideEight>.sitemap{
        margin-top: 40px;
        margin-left: 20px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .sitemap>img{
        width: 70%;
    }
    .slideEight>.userflow{
       margin-left: 20px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 70px;
    }
    .userflow>img{
        width: 80%;
    }
    .slideNine{
        background-color: white;
        padding-top: 100px;
    }
    .nineOne{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-content: center;
        text-align: center;
    }
    .nineOne>img{
        margin-top: 50px;
        width: 70%;
        text-align: center;
    }
    .slideTen{
        background-color: white;
        padding-top: 100px;
    }
    .tenOne{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .tenOne>img{
        width: 80%;
    }
    .tenOne>h2{
        text-align: center;
    }
    .slideEleven{
        background-color: white;
        padding-top: 100px;
    }
    .elevenOne{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .elevenOne>img{
        width: 80%;
    }
    .elevenOne>h2{
        text-align: center;
    }
    .slideTwelve{
        background-color: white;
    }
    .twelveOne{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .twelveOne>a{
        color: white;
        background-color: #FEAC5E;
        border-radius: 12px;
        height: 20%;
        text-align: center;
        box-shadow: 0 4px 10px -5px rgb(0 0 0 / 69%);
        padding: 10px 16px;
        border-radius: 10px;
    }
    .twelveOne>a:hover{
        color: white;
        background-color: #FEAC5E;
        border-radius: 12px;
        height: 20%;
        text-align: center;
        box-shadow: 0 4px 10px -5px rgb(0 0 0 / 69%);
        padding: 10px 16px;
        border-radius: 10px;
    }
    .slideThirteen{
        background-color: white;
        display: grid;
        grid-template-columns: 30% 30% 30%;
        grid-template-rows: 20% 20% 20% 20% 20%;
        gap: 5px;
        justify-content: center;
        padding-top: 100px;
        padding-bottom: 100px;
        width: 100%;
    }
    #green{
        border-radius: 5px;
        width: 200px;
        background-color: #e9f7ee;
    }
    #yellow{
        border-radius: 5px;
        width: 200px;
        background-color: #f7f5e9;
    }
    #red{
        border-radius: 5px;
        width: 200px;
        background-color: #f7e9e9;
    }
    .titleThirteen{
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .titleThirteen>a{
        color: black;
        text-decoration: underline;
    }
    .titleThirteen>a:hover{
        color: orange;
        text-decoration: underline;
    }
    .thirteenOne{
        grid-column: 1/2;
        grid-row: 2/3;
        padding: 0 208px 0 15px;
        text-align: center;
        margin-top: 30px;
    }
    
    .thirteenOneOne{
        grid-column: 1/2;
        grid-row: 3/4;
    }
    .thirteenOneTwo{
        grid-column: 1/2;
        grid-row: 4/5;
    }
    .thirteenOneThree{
        grid-column: 1/2;
        grid-row: 5/6;
    }
    .thirteenTwo{
        grid-column: 2/3;
        grid-row: 2/3;
        padding: 0 208px 0 15px;
        text-align: center;
        margin-top: 30px;
    }
    .thirteenTwoOne{
        grid-column: 2/3;
        grid-row: 3/4;
    }
    .thirteenTwoTwo{
        grid-column: 2/3;
        grid-row: 4/5;
    }
    .thirteenTwoThree{
        grid-column: 2/3;
        grid-row: 5/6;
    }
    
    .thirteenThree{
        grid-column: 3/4;
        grid-row: 2/3;
        padding: 0 208px 0 15px;
        text-align: center;
        margin-top: 30px;
    }
    .thirteenThreeOne{
        grid-column: 3/4;
        grid-row: 3/4;
    }
    .thirteenThreeTwo{
        grid-column: 3/4;
        grid-row: 4/5;
    }
    .thirteenThreeThree{
        grid-column: 3/4;
        grid-row: 5/6;
    }
    .slideFourteen{
        background-color: white;
    }
    .slideFifteen{
        background-color: white;
    }
    .fifteenOne{
        background-color:rgba(199, 121, 208, 34%);
        padding: 100px 100px;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
    }

}
@media(max-width: 700px) and (min-width: 581px){
    article{
        width: 100vw;
    }
    article>.slideone{
        background-color: white;
        color: black;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 5% 10% 50% 35%;
        padding-left: 20px;
    }
    .bcone{
        grid-column: 1/2;
        grid-row: 2/3;
        text-align: center;
        font-size: 1em;
        margin-bottom: 60px;
    }
    .bctwo>img{
        width: 10%;
        display: none;
    }
    #bcicon{
        width: 50%;
    }
    .bctwo{
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .bcthree{
        width: 90%;
        grid-column: 1/2;
        grid-row: 3/4;
        margin-top: 84px;
    }
    .bcfour{
        grid-column: 1/2;
        grid-row: 4/5;
        width: 90%;
        font-size: 1em;
        padding-top: 3rem;
    }
    .smallflexbtn{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .previewbc{
        color: black;
        background-color: #FEAC5E;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 12px;
        width: 100px;
        height: 50px;
    }
    .previewbc:hover{
        color: white;
        background-color: #FEAC5E;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 12px;
        width: 100px;
        height: 50px;
        transition: .3s;
        transform: scale(1.2,1.2);
    }
    .previewbc>h1{
        font-size: 1rem;
        text-align: center;
    }
    .iconbc{
        background-color: white;
        color: black;
        border: 1px solid #FEAC5E;
        border-radius: 12px;
        width: 100px;
        height: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .iconbc:hover{
        background-color: white;
        color: black;
        border: 1px solid #C779D0;
        border-radius: 12px;
        width: 100px;
        height: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: .3s;
        transform: scale(1.2,1.2);
    }
    article>.slidetwo{
    background-color: #EBEBEB;
    color: black;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 15% 1fr;
    padding-left: 20px;
    height: 1000px;
    width: 100vw;
    flex-wrap: wrap;
    }
    .resOne{
        color: black;
        grid-column: 1/2;
        grid-row: 1/2;
        margin-top: 20px;
    }
    .resOne>p{
        width: 80%;
    }
    .resTwo{
        color: black;
        grid-column: 1/2;
        grid-row: 2/3;
        margin-top: 20px;
    }
    .resTwo>h2{
        color: black;
    }
    .resTwo>p{
        width: 80%;
    }
    .resThree{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;

    }
    .resThree>.Litsy{
        display: flex;
        flex-direction: column;
        align-items: center;

    }
    .resThree>.LibraryThing{
        display: flex;
        flex-direction: column;
        align-items: center;

    }
    .resThree>.goodreads{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .resThree>.Litsy>img{
       text-align: center;
       width: 40%;
    }
    .resThree>.LibraryThing>img{
        text-align: center;
        width: 30%;
    }
    .resThree>.goodreads>img{
        text-align: center;
        width: 40%;
    }
    .resThree>.goodreads{
    text-align: center;
}
.resFour{
    grid-column: 1/2;
    grid-row: 4/5;
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.testPrototype{
    color: black;
    background-color: #C779D0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    width: 100px;
    height: 50px;
    }
.testPrototype:hover{
    color: black;
    background-color: white;
    border: 1px solid #FEAC5E;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    width: 20%;
    height: 10%;
    transition: .3s;
    transform: scale(1.2,1.2);
    }
.slideThree{
    background-color: #EBEBEB;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    padding-left: 20px;
    padding-top: 2rem;
    height: 400px;
    width: 100vw;
}
.userOne{
    grid-column: 1/2;
    grid-row: 1/2;
}
.userTwo{
    grid-column: 1/2;
    grid-row: 2/3;
    text-align: center;
}
.userTwo>img{
    content-visibility: hidden;
}
.userThree{
    grid-column: 1/2;
    grid-row: 3/4;
    margin-top: 30px;
}
.slideFour{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10% 80%;
    padding-left: 20px;
    background-color: #EBEBEB;
    height: 550px;
    padding-top: 100px;
    width: 100vw;
}
.intOne{
    grid-column: 1/2;
    grid-row: 1/2;
}
.intTwo{
    grid-column: 1/2;
    grid-row: 2/3;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.intTwo>img{
    width: 80%;
}
.slideFive {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    padding-left: 20px;
    background-color: #EBEBEB;
    height: 700px;
    width: 100vw;
}
.fiveOne{
    grid-column: 1/2;
    grid-row: 1/2;
    text-align: center;
    margin: auto;
}
.fiveOne>img{
    width: 90%;
}
.fiveTwo{
    grid-column: 1/2;
    grid-row: 2/3;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 70%;
    flex-wrap: wrap;
    margin: auto;
    padding-top: 5rem;
}
.statimgOne{
    width: 200px;
}
.statimgTwo{
    width: 200px;
}
.statimgThree{
    width: 200px;
}

.fiveThree{
    grid-column: 1/2;
    grid-row: 3/4;
    text-align: center;
    width: 70%;
    margin: auto;
    font-size: 1em;
}
.slideSix{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0fr 1fr 2fr;
    background-color: #EBEBEB;
    height: 1285px;
    padding-top: 7rem;
}
.sixOne{
    grid-column: 1/2;
    grid-row: 1/2;
    margin-left: 20px;
    width: 70%;
}
.sixTwo{
    grid-column: 1/2;
    grid-row: 2/3;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    width: 100vw;
    height: 100vh;
}
.amandaOne{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 401px;
    padding: 5px;
    flex-wrap: wrap;
}
.amandaOne>img{
    width: 20%;
}
.img>img{
    width: 40%;
}
.amandaTwo{
    width: 80%;
}
.amandasGoals{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 60%;
    flex-wrap: wrap;
}
.goalOne{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: space-between;
    justify-content: center;
}
.goalTwo{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: space-between;
    justify-content: center;
}
.sixThree{
    grid-column: 1/2;
    grid-row: 3/4;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    margin-right: 6px;
    font-size: x-small;
}
.brands{
    text-align: center;
}
.slideSeven{
    background-color: white;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10% 50% 40%;
    height: 600px;
}
.sevenOne{
    margin-left: 20px;
    margin-top: 20px;
}
.sevenTwo{
    margin-left: 20px;
    width: 70%;
}
.sevenThree{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}
.sevenThree>img{
    width: 70%;
}
.slideEight{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.eightOne{
    width: 80%;
    padding-left: 20px;
    padding-top: 30px;
}
.slideEight>.sitemap{
    margin-top: 40px;
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.sitemap>img{
    width: 60%;
}
.sitemap>h2{
    font-size: smaller;
}
.slideEight>.userflow{
   margin-left: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}
.userflow>img{
    width: 60%;
}
.userflow>h2{
    font-size: smaller;
}
.slideNine{
    background-color: white;
    padding-top: 100px;
}
.nineOne{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
}
.nineOne>img{
    margin-top: 50px;
    width: 70%;
    text-align: center;
}
.nineOne>h2{
    font-size: smaller;
}
.slideTen{
    background-color: white;
    padding-top: 100px;
}
.tenOne{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.tenOne>img{
    width: 80%;
}
.tenOne>h2{
    text-align: center;
    font-size: smaller;
}
.slideEleven{
    background-color: white;
    padding-top: 100px;
}
.elevenOne{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.elevenOne>img{
    width: 60%;
}
.elevenOne>h2{
    font-size: smaller;
    text-align: center;
}
.slideTwelve{
    background-color: white;
}
.twelveOne{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.twelveOne>a{
    color: white;
    background-color: #FEAC5E;
    border-radius: 12px;
    height: 20%;
    text-align: center;
    box-shadow: 0 4px 10px -5px rgb(0 0 0 / 69%);
    padding: 10px 16px;
    margin-top: 68px;
    margin-bottom: 70px;
    border-radius: 10px;
}
.twelveOne>a:hover{
    color: white;
    background-color: #FEAC5E;
    border-radius: 12px;
    height: 20%;
    text-align: center;
    box-shadow: 0 4px 10px -5px rgb(0 0 0 / 69%);
    padding: 10px 16px;
    margin-top: 68px;
    margin-bottom: 70px;
    border-radius: 10px;
}
.slideThirteen{
    background-color: white;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 1fr 20% 20% 20% 20%;
    gap: 5px;
    justify-content: center;
    padding-bottom: 130px;
    width: 100%;
}
.slideThirteen p{
    font-size: x-small;
}
.thirteenOne>h3{
    font-weight: bolder;
    font-size: small;
}
.thirteenOne>p{
    padding: 5px;
}
.thirteenTwo>h3{
    font-weight: bolder;
    font-size: small;
}
.thirteenThree>h3{
    font-weight: bolder;
    font-size: small;
}
.thirteenOne>img{
    width: 20%;
}
.thirteenTwo>img{
    width: 20%;
}
.thirteenThree>img{
    width: 20%;
}
#green{
    border-radius: 5px;
    width: 100px;
    background-color: #e9f7ee;
    margin: auto;
}
#yellow{
    border-radius: 5px;
    width: 100px;
    background-color: #f7f5e9;
    margin: auto;
}
#red{
    border-radius: 5px;
    width: 100px;
    background-color: #f7e9e9;
    margin: auto;
}
.titleThirteen{
    grid-column: 1/2;
    grid-row: 1/2;
}
.titleThirteen>a{
    color: black;
    text-decoration: underline;
}
.titleThirteen>a:hover{
    color: orange;
    text-decoration: underline;
}
.thirteenOne{
    grid-column: 1/2;
    grid-row: 2/3;
    padding: 0 0 0 0;
    text-align: center;
    margin-top: 30px;
}

.thirteenOneOne{
    grid-column: 1/2;
    grid-row: 3/4;
}
.thirteenOneTwo{
    grid-column: 1/2;
    grid-row: 4/5;
}
.thirteenOneThree{
    grid-column: 1/2;
    grid-row: 5/6;
}
.thirteenTwo{
    grid-column: 2/3;
    grid-row: 2/3;
    padding: 0 0 0 0;
    text-align: center;
    margin-top: 30px;
}
.thirteenTwoOne{
    grid-column: 2/3;
    grid-row: 3/4;
}
.thirteenTwoTwo{
    grid-column: 2/3;
    grid-row: 4/5;
}
.thirteenTwoThree{
    grid-column: 2/3;
    grid-row: 5/6;
}

.thirteenThree{
    grid-column: 3/4;
    grid-row: 2/3;
    padding: 0 0 0 0;
    text-align: center;
    margin-top: 30px;
}
.thirteenThreeOne{
    grid-column: 3/4;
    grid-row: 3/4;
}
.thirteenThreeTwo{
    grid-column: 3/4;
    grid-row: 4/5;
}
.thirteenThreeThree{
    grid-column: 3/4;
    grid-row: 5/6;
}
.slideFourteen{
    background-color: white;
    padding-left: 20px;
}
.slideFifteen{
    background-color: white;
}
.fifteenOne{
    background-color:rgba(199, 121, 208, 34%);
    padding: 30px 30px;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
}
}
@media (max-width: 580px){
    .aTags{
        display: flex;
        flex-direction: column-reverse;
    }
    article{
        width: 100vw;
        margin-top: 50px;
    }
    article>.slideone{
        background-color: white;
        color: black;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 5% 10% 50% 35%;
        padding-left: 20px;
    }
    .bcone{
        grid-column: 1/2;
        grid-row: 2/3;
        text-align: center;
        font-size: 1em;
        margin-bottom: 60px;
    }
    .bctwo>img{
        width: 10%;
        display: none;
    }
    #bcicon{
        width: 50%;
    }
    .bctwo{
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .bcthree{
        width: 90%;
        grid-column: 1/2;
        grid-row: 3/4;
        margin-top: 84px;
    }
    .bcfour{
        grid-column: 1/2;
        grid-row: 4/5;
        width: 90%;
        font-size: 1em;
        padding-top: 3rem;
    }
    .smallflexbtn{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .previewbc{
        color: black;
        background-color: #FEAC5E;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 12px;
        width: 100px;
        height: 50px;
    }
    .previewbc:hover{
        color: white;
        background-color: #FEAC5E;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 12px;
        width: 100px;
        height: 50px;
        transition: .3s;
        transform: scale(1.2,1.2);
    }
    .previewbc>h1{
        font-size: 1rem;
        text-align: center;
    }
    .iconbc{
        background-color: white;
        color: black;
        border: 1px solid #FEAC5E;
        border-radius: 12px;
        width: 100px;
        height: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .iconbc:hover{
        background-color: white;
        color: black;
        border: 1px solid #C779D0;
        border-radius: 12px;
        width: 100px;
        height: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: .3s;
        transform: scale(1.2,1.2);
    }
    article>.slidetwo{
    background-color: #EBEBEB;
    color: black;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 15% 1fr;
    padding-left: 20px;
    height: 1000px;
    width: 100vw;
    flex-wrap: wrap;
    }
    .resOne{
        color: black;
        grid-column: 1/2;
        grid-row: 1/2;
        margin-top: 20px;
    }
    .resOne>p{
        width: 80%;
    }
    .resTwo{
        color: black;
        grid-column: 1/2;
        grid-row: 2/3;
        margin-top: 20px;
    }
    .resTwo>h2{
        color: black;
    }
    .resTwo>p{
        width: 80%;
    }
    .resThree{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;

    }
    .resThree>.Litsy{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 30%;

    }
    .resThree>.LibraryThing{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 20%;

    }
    .resThree>.goodreads{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 20%;
    }
    .resThree>.Litsy>img{
       text-align: center;
       width: 40%;
    }
    .resThree>.LibraryThing>img{
        text-align: center;
        width: 30%;
    }
    .resThree>.goodreads>img{
        text-align: center;
        width: 40%;
    }
    .resThree>.goodreads{
    text-align: center;
    }
    .resFour{
        grid-column: 1/2;
        grid-row: 4/5;
        color: black;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
    }
    .testPrototype{
        color: black;
        background-color: #C779D0;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 12px;
        width: 100px;
        height: 50px;
        }
    .testPrototype:hover{
        color: black;
        background-color: white;
        border: 1px solid #FEAC5E;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 12px;
        width: 20%;
        height: 10%;
        transition: .3s;
        transform: scale(1.2,1.2);
        }
    .slideThree{
        background-color: #EBEBEB;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        padding-left: 20px;
        padding-top: 2rem;
        height: 400px;
        width: 100vw;
    }
    .userOne{
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .userTwo{
        grid-column: 1/2;
        grid-row: 2/3;
        text-align: center;
    }
    .userTwo>img{
        content-visibility: hidden;
    }
    .userThree{
        grid-column: 1/2;
        grid-row: 3/4;
        margin-top: -27px;
    }
    .slideFour{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 10% 80%;
        padding-left: 20px;
        background-color: #EBEBEB;
        height: 550px;
        padding-top: 100px;
        width: 100vw;
    }
    .intOne{
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .intTwo{
        grid-column: 1/2;
        grid-row: 2/3;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: auto;
    }
    .intTwo>img{
        width: 80%;
    }
    .slideFive {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        padding-left: 20px;
        background-color: #EBEBEB;
        height: fit-content;
        width: 100vw;
    }
    .fiveOne{
        grid-column: 1/2;
        grid-row: 1/2;
        text-align: center;
        margin: auto;
    }
    .fiveOne>img{
        width: 90%;
    }
    .fiveTwo{
        grid-column: 1/2;
        grid-row: 2/3;
        text-align: center;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        width: 70%;
        flex-wrap: wrap;
        margin: auto;
        padding-top: 5rem;
    }
    .statimgOne{
        width: 200px;
    }
    .statimgTwo{
        width: 200px;
    }
    .statimgThree{
        width: 200px;
    }

    .fiveThree{
        grid-column: 1/2;
        grid-row: 3/4;
        text-align: center;
        width: 70%;
        margin: auto;
        font-size: 1em;
    }
    .slideSix{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0fr 1fr 2fr;
        background-color: #EBEBEB;
        height: 1644px;
        padding-top: 60px;
    }
    .sixOne{
        grid-column: 1/2;
        grid-row: 1/2;
        margin-left: 20px;
        width: 70%;
    }
    .sixTwo{
        grid-column: 1/2;
        grid-row: 2/3;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        width: 100vw;
        height: 100vh;
    }
    .amandaOne{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 401px;
        padding: 5px;
        flex-wrap: wrap;
    }
    .amandaOne>img{
        width: 20%;
    }
    .img>img{
        width: 40%;
    }
    .amandaTwo{
        width: 80%;
    }
    .amandasGoals{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: flex-start;
        width: 60%;
        flex-wrap: wrap;
    }
    .goalOne{
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: space-between;
        justify-content: center;
    }
    .goalTwo{
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: space-between;
        justify-content: center;
    }
    .sixThree{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;
        margin-right: 6px;
        font-size: x-small;
    }
    .brands{
        text-align: center;
    }
    .slideSeven{
        background-color: white;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 10% 50% 40%;
        height: 600px;
    }
    .sevenOne{
        margin-left: 20px;
        margin-top: 20px;
    }
    .sevenTwo{
        margin-left: 20px;
        width: 70%;
    }
    .sevenThree{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
    }
    .sevenThree>img{
        width: 70%;
    }
    .slideEight{
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }
    .eightOne{
        width: 80%;
        padding-left: 20px;
        padding-top: 30px;
    }
    .slideEight>.sitemap{
        margin-top: 40px;
        margin-left: 20px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .sitemap>img{
        width: 60%;
    }
    .sitemap>h2{
        font-size: smaller;
    }
    .slideEight>.userflow{
    margin-left: 20px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 70px;
    }
    .userflow>img{
        width: 60%;
    }
    .userflow>h2{
        font-size: smaller;
    }
    .slideNine{
        background-color: white;
        padding-top: 100px;
    }
    .nineOne{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-content: center;
    }
    .nineOne>img{
        margin-top: 50px;
        width: 70%;
        text-align: center;
    }
    .nineOne>h2{
        font-size: smaller;
    }
    .slideTen{
        background-color: white;
        padding-top: 100px;
    }
    .tenOne{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .tenOne>img{
        width: 80%;
    }
    .tenOne>h2{
        text-align: center;
        font-size: smaller;
    }
    .slideEleven{
        background-color: white;
        padding-top: 100px;
    }
    .elevenOne{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .elevenOne>img{
        width: 60%;
    }
    .elevenOne>h2{
        font-size: smaller;
        text-align: center;
    }
    .slideTwelve{
        background-color: white;
    }
    .twelveOne{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .twelveOne>a{
        color: white;
        background-color: #FEAC5E;
        border-radius: 12px;
        height: 20%;
        text-align: center;
        box-shadow: 0 4px 10px -5px rgb(0 0 0 / 69%);
        padding: 10px 16px;
        margin-top: 68px;
        margin-bottom: 70px;
        border-radius: 10px;
    }
    .twelveOne>a:hover{
        color: white;
        background-color: #FEAC5E;
        border-radius: 12px;
        height: 20%;
        text-align: center;
        box-shadow: 0 4px 10px -5px rgb(0 0 0 / 69%);
        padding: 10px 16px;
        margin-top: 68px;
        margin-bottom: 70px;
        border-radius: 10px;
    }
    .slideThirteen{
        background-color: white;
        display: grid;
        grid-template-columns: 30% 30% 30%;
        grid-template-rows: 1fr 20% 20% 20% 20%;
        gap: 5px;
        justify-content: center;
        padding-bottom: 130px;

    }
    .slideThirteen p{
        font-size: x-small;
    }
    .thirteenOne>h3{
        font-weight: bolder;
        font-size: small;
    }
    .thirteenOne>p{
        padding: 5px;
    }
    .thirteenTwo>h3{
        font-weight: bolder;
        font-size: small;
    }
    .thirteenThree>h3{
        font-weight: bolder;
        font-size: small;
    }
    .thirteenOne>img{
        width: 20%;
    }
    .thirteenTwo>img{
        width: 20%;
    }
    .thirteenThree>img{
        width: 20%;
    }
    #green{
        border-radius: 5px;
        width: 100px;
        background-color: #e9f7ee;
        margin: auto;
    }
    #yellow{
        border-radius: 5px;
        width: 100px;
        background-color: #f7f5e9;
        margin: auto;
    }
    #red{
        border-radius: 5px;
        width: 100px;
        background-color: #f7e9e9;
        margin: auto;
    }
    .titleThirteen{
        grid-column: 1/2;
        grid-row: 1/2;
    }
.titleThirteen>a{
    color: black;
    text-decoration: underline;
}
.titleThirteen>a:hover{
    color: orange;
    text-decoration: underline;
}
.thirteenOne{
    grid-column: 1/2;
    grid-row: 2/3;
    padding: 0 0 0 0;
    text-align: center;
    margin-top: 30px;
}

.thirteenOneOne{
    grid-column: 1/2;
    grid-row: 3/4;
}
.thirteenOneTwo{
    grid-column: 1/2;
    grid-row: 4/5;
}
.thirteenOneThree{
    grid-column: 1/2;
    grid-row: 5/6;
}
.thirteenTwo{
    grid-column: 2/3;
    grid-row: 2/3;
    padding: 0 0 0 0;
    text-align: center;
    margin-top: 30px;
}
.thirteenTwoOne{
    grid-column: 2/3;
    grid-row: 3/4;
}
.thirteenTwoTwo{
    grid-column: 2/3;
    grid-row: 4/5;
}
.thirteenTwoThree{
    grid-column: 2/3;
    grid-row: 5/6;
}

.thirteenThree{
    grid-column: 3/4;
    grid-row: 2/3;
    padding: 0 0 0 0;
    text-align: center;
    margin-top: 30px;
}
.thirteenThreeOne{
    grid-column: 3/4;
    grid-row: 3/4;
}
.thirteenThreeTwo{
    grid-column: 3/4;
    grid-row: 4/5;
}
.thirteenThreeThree{
    grid-column: 3/4;
    grid-row: 5/6;
}
.slideFourteen{
    background-color: white;
    padding-left: 20px;
}
.slideFifteen{
    background-color: white;
}
.fifteenOne{
    background-color:rgba(199, 121, 208, 34%);
    padding: 30px 30px;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
}
}

footer{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    width: 100%;
    height: 19em;
    background-color: black;
    text-align: center;
    padding: 1em;
}
footer>.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #9FE8FF;
    border-radius: 10px;
    width: 45%;
    height: 20%;
    color: black;
    margin-top: 20px;
    margin-bottom: 20px;
}
footer>.btn:hover{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #9FE8FF;
    border-radius: 10px;
    width: 45%;
    height: 20%;
    color: black;
    margin-top: 20px;
    margin-bottom: 20px;
    transition: .3s;
    transform: scale(1.2,1.2);
}
footer p{
    color: white;
    margin-top: 10px;
}

.socials{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}